*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%vw;
    height: 100%vh;
    background-image: url(https://i.pinimg.com/originals/77/33/53/7733535f1179dbd64c0750a06a6a1b13.jpg);
    background-size: 100%;
    background-position-x: 53%;
    background-position-y: 13%;
    
}

header{
    background-color: rgba(169, 161, 161, 0.794);
    color: white;
    text-shadow: black 4px 2px 5px;
    padding: 30px;
}

header h1 {
    font-size: 36px;
}

header button {
    position: relative;
    top: -15px;
    left: 39%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: black 3px 3px 7px;
    scale: 1;
    transition: 1;
;
}

header button:hover{
    transition: .4s;    
    scale: 1.2;
}

main{
    background-color: rgba(250, 235, 215, 0.579);
    color: black;
    text-shadow: black 6px 14px 14px;
    box-shadow: 5px 3px 15px 3px;
    border-radius: 8px 8px 0px 8px;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 27%;
    left: 25%;
    padding: 25px;
    
}

main p {
    border-radius: 0px 8px 8px 8px;
    border-width: 15px;
    border-color: black;
    box-shadow: 5px 3px 15px 3px;
    background-color: rgba(250, 235, 215, 0.579);
    width: 180%;
    position: absolute;
    left: 238px;
    line-height: 1.5;
    text-align: justify;
    padding: 25px;
}

.dark-mode {
    background-image: url(https://images2.alphacoders.com/749/749693.jpg);
    background-size: 100%;
    color: rgb(238, 224, 207);
}

.dark-mode header {
    background-color: rgba(0, 0, 0, 0.73);
    color: rgb(227, 185, 144);
    text-shadow: none;
}

.dark-mode button {
    background-color: rgba(0, 0, 0, 0.775);
    color: white;
    border-style:groove;
    border-color: white;
}